<form action="/subscribe" method="POST">
    <input name="email" type="text" required placeholder="Your Email">
    <input name="firstName" type="text" required placeholder="Your Name">
    <button type="submit" >Newsletter Signup</button>
</form>