<div class="wrap">
    <h1>
        Settings
    </h1>
    <form method="POST" action="{{panel_url}}&action=update&settings_id={{settings_id}}">
        <table class="form-table">
            <tbody>
                <tr>
                    <th scope="row">
                        <label for="private_key">Mailgun Private Key
                            <span class="description">(required)</span>
                        </label>
                    </th>
                    <td colspan="2">
                        <input class="regular-text" name="private_key" type="text" value="{{settings.private_key}}" required autocapitalize="none" autocorrect="off" maxlength="60">
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="submit">
            <input type="submit" class="button button-primary" value="Update">
        </p>
    </form>
</div>
